name: Build and Package

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.base_ref == 'refs/heads/main' || github.ref_type == 'tag'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      - name: Get tag name
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build with Maven
        run: mvn clean package -Drevision=${{ env.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gportal-query-${{env.VERSION}}.jar
          path: target/gportal-query-${{ env.VERSION }}.jar

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/gportal-query-${{ env.VERSION }}.jar
          token: ${{ secrets.GITHUB_TOKEN }}
